<div class="show_content">
<div class="show_right_content">
  <div class="show_right_content_answers">
  <div class="link_athletes">
    <a href="/athletes">アスリート一覧はこちら</a>
  </div>
  <div class="contents">
  <% @questions.each do |question| %>
    <div class="message clearfix">
      <div class="user_box clearfix">
        <img src="<%= question.athlete.image %>">
        <p class="user_info">
          <a href="/athletes/<%= question.athlete.id %>">
            <%= question.athlete.name %>さん/<%= question.athlete.job %>
          </a>
          への質問です
        </p>
      </div>
      <div class="message_box">
        <p class="question_title">
          Q.<%= question.title %>
        <p>
        <p class="text">
          <%= question.text.truncate(40) %>
          <%= link_to '回答を読む', "/questions/#{question.id}" %>
        </p>
      </div>
    </div>
  <% end %>
  <%= paginate(@questions) %>
</div>
</div>

</div>
