<div class="show_content">
    <div class="show_right_content">
      <div class="show_right_content_answers">
        <div class="show_message_box">
          <p class="show_question_title">
            Q. <%= @question.title %>
          <p>
          <p class="question_text">
            <%= @question.text %>
          </p>
          <% if @question.answer %>
          <div class="user_box clearfix">
            <img src="<%= @question.athlete.image %>">
            <p class="user_info">回答日時: <%= @question.answer.created_at.strftime("%Y年%m月/%d日/%H時") %></p>
          </div>
          <p class="show_text">
            A. <%= @question.answer.text %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
