  <div class="show_content">
  <div class="show_user_info_box">
    <img src="https://i.imgur.com/Ubz2tox.png?../images/hanyu.jpg">
    <div class="show_user_info">
      <div class="show_user_name">
        <%= @name %>さんの質問一覧
      </div>
    </div>
  </div>
    <div class="show_right_content">
      <div class="show_right_content_header">
        回答済みの数: <%= @questions.length %>件
      </div>
      <div class="show_right_content_answers">
        <% @questions.each do |question| %>
          <div class="show_message_box">
            <p class="show_question_title">
              Q.<%= question.title %>
            <p>
            <p class="question_text">
              <%= simple_format(question.text) %>
            </p>
            <% if question.answer %>
              <a href="/questions/<%= question.id %>">
                回答を見る
              </a>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="show_right_content_header">
        未回答の質問: 4件
      </div>
    </div>
  </div>
</div>
