<div class="show_content">
<div class="show_user_info_box">
  <img src="<%= @athlete.image %>">
  <div class="show_user_info">
    <div class="show_user_name">
      <%= @athlete.name %>
    </div>
    <div class="show_user_detail">
      <%= @athlete.job %>
    </div>
    <a class="post button" href="/athletes/<%= @athlete.id %>/questions/new">この選手に質問する</a>

  </div>
</div>
  <div class="show_right_content">
    <div class="show_right_content_header">
      質問数: <%= @athlete.questions.length %>件
    </div>
    <div class="show_right_content_answers">
      <% @athlete.questions.each do |question| %>
        <div class="show_message_box">
          <p class="show_question_title">
            Q. <%= question.title %>
          <p>
          <p class="question_text">
            <%= question.text %>
          </p>
          <% if question.answer %>
          <div class="user_box clearfix">
            <img src="<%= @athlete.image %>">
            <p class="user_info">回答日時: 2018年7月13日</p>
          </div>
          <p class="show_text">
            A. <%= question.answer.text %>
          </p>
          <% else %>
            <% if @athlete.user_id == current_user.id %>
              <%= link_to 'この質問に回答する', "/questions/#{question.id}/answer/new" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
